<div class="account">
	<span ng-show="user">
		<a href="#/account" class="username">{{user.fullName}}</a> 
		<a class="logout" ng-click="tools.user.logout()" class="logout"> <i class="fa fa-sign-out"></i></a>
	</span>
	<span ng-hide="user">
		<a href="#/signup" title="">{{'SITE.SIGNUP' | translate}}</a>
		<a ng-click="tools.user.loginModal()">{{'SITE.LOGIN' | translate}}</a>
	</span>
</div>
<!-- <h1 id="siteTitle">{{'SITE.TITLE' | translate}}</h1> -->
<nav>
	<ul>
		<li><a href="#/home">Home</a></li>
		<li><a href="#/menu">Menu</a></li>
		<li><a href="#/map">Directions</a></li>
		<li><a ng-show="tools.user.is('Admin')" href="#/admin">Admin</a></li>
	</ul>
</nav>