<div class="container">
	<div class="well clearfix">
		<h1>About</h1>
		<p>Temple Rides allows you to share rides to the temple with other Latter Day Saint members.</p>
		<p>This was created after our stake confrence, in which the stake presidency designated three areas of focus: temple, mission, and education.  We hope you will be able to use this tool to attend and help others attend the temple more frequently.  This tool is provided by invite only.  All who are invited are allowed to invite others.  Please utilize this tool only to organize rides to the temple.  I hope you will find opportunities for service, there are many elderly people who need help to get to the temple.</p>
		<p>This website was created as a tool for members.  This website was not created nor is it maintained by the church.  We will do everything we can to maintain the integrity of this site's users, however we are not responsible for the actions of those who use this service.  Please use discression and good judgement.  Please report any concerns.  By using this service, you agree to not hold the LDS Church, or the creator of this website responsible for anything which may happen as a result of the use of this service.  </p>
		<div class="well col-md-6 pull-right">
			<a href="#/home" class="btn btn-block btn-large btn-default">Go To Ride Board</a>
		</div>
	</div>
</div>