<div class="page">
	<div class="row">
		<div class="col-md-4">
			<div style="height:215px;">
				<img src="/assets/img/main.jpg" style="width:100%;">
			</div>

			<table style="width:100%; height:75px;">
				<thead>
					<tr>
						<th>Address: </th>
						<th>Phone: </th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>86 S 200 W, Kanab,<br> Utah 84741</td>
						<td>(435) 644-5464</td>
					</tr>
				</tbody>
			</table>

			<div ng-controller="MapCtrl" ng-init="tools.init('small-canvas')">
				<div id="small-canvas" style="width:100%; height: 210px;"></div>
			</div>
		</div>

		<div class="col-md-8" ng-include="'partials/generic/carousel.html'"></div>
	</div>
</div>